<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}"> 
</head>

<body class='body'>
    
    <header class="header"> 
        <div class="title">
            <p>Kris Solanki</p>
        </div>
        <div class="left_sidemenu">
            <ul class="list_items">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'display_users' %}">View Users</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </header>
    
    <p>{{current_datetime}}</p>
    
    
    <main class="main-content">
        <h2>Welcome to My Web Page</h2>
        <p class="main_line">This is a simple web page created as an exercise. It includes a header, a main content area, and a footer.</p>
        
        <div class="user">
            <h1>User Details Form</h1>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
            
        </div>
        
    </main>


    <footer class="footer">
        <div class="footer_container">
            <p>Developed by Kris Solanki</p>
            <p>Contact: <a href="mailto:krissolanki28@gmail.com">krissolanki28@gmail.com</a></p>
        </div>
    </footer>
    
</body>
</html>
